.flokramper{
    &__testing{
        @media (min-width: 1200px){
            width: 100%;
            max-width: 470px;
        }
    }
    &__frame {
        @media (min-width: 1320px){
            margin-right: -15%;
        }
    }
}