.pricebox{
    max-width: 640px;
    width: 100%;
    margin: auto;
    padding-right: 30px;
    padding-bottom: 30px;
    min-width: 350px;

    @media (min-width: 991px){
        padding-right: 70px;
        padding-bottom: 70px;
    }
}
.pricebox__float{
    position: absolute;
    width: 100%;
    max-width: 290px;
    bottom: 0;
    right: 0;
}
.pricebox__btn{
    border: 1px solid var(--bs-btn-border-color);
    padding: 12px 30px;
    text-align: center;
    font-size: $fs-xs;
    background-color: var(--bs-btn-bg);
    color: var(--bs-btn-color);
    font-weight: 600;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

    @media (min-width: 991px){
        font-size: $fs-sm;        
    }
    
    &.btn-outline-primary{
        --bs-btn-bg: rgba(21, 84, 240, 0.04);
    }
}

.pricebox ul > li > img{
    @media (max-width: 991px){
        max-width: 50px;
        width: 17vw;
    }
}