$nav-link-color: $gray-700;

$nav-link-font-size: $fs-xs;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-bg: $primary;

$nav-tabs-border-width: 1px;
$nav-tabs-border-radius: 0;
$nav-tabs-border-color: $border-color;
$nav-tabs-link-hover-border-color : transparent;

$nav-link-padding-y: 1rem;


.hero-formbox .nav-tabs{
    background-color: #F6F8FF;
}